<!-- <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Profile</title>
</head>
<body>
  <h1>Welcome, <%= user.displayName %></h1>
  <p>Email: <%= user.emails && user.emails.length > 0 ? user.emails[0].value : "No email available" %></p>
  <a href="/logout">Logout</a>
</body>
</html> -->

<!DOCTYPE html> 
<html lang="en"> 
<head> 
  <meta charset="UTF-8"> 
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
  <title>Profile</title> 
</head> 
<body> 
  <h1>Welcome, <%= user.displayName %></h1> 
  <p>Email: <%= user.email %></p> 
  <img src="<%= user.photo %>" alt="Profile Picture"> 
  <a href="/logout">Logout</a> 
</body> 
</html>